.tarjetatt {
    width: 250px;
    height: 300px;
    margin: 15px 20px;
    margin-top: 60px;
    margin-left: 50px;
    transition: transform 0.2s ease-out;
}

.tarjetatt:hover {
    cursor: pointer;
    transform: translate(5px, -10px);
}

.tarjetatt .imagenTarjeta {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
}

.tarjetatt .imagenTarjeta img {
    width: 100%;
    height: auto;
}

.tarjetatt .tituloTarjeta {
    color: white;
    font-size: 0.8rem;
    margin: 0;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}