.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    
}

.contenedorTarjeta {
    width: 350px;
    height: auto;
    margin-top: 60px;
    margin-left: 60px;
    transition: transform 0.2s ease-out;
    
    position: relative;
    border-radius: 12px;
}

.contenedorTarjeta:hover{
    cursor: pointer;
    transform: translate(5px, -10px);
}

.tarjeta {
    width: 300px;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: white;
}

