.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 60px auto 60px;
}
body {
  margin: 0;
  padding: 0;
}
